.experiencia{
  padding: 3rem 5rem 3rem 5rem;
}

.proyectos{
  margin-top: 2rem;
}

.experiencia__proyecto{
  display: flex;
}

.proyecto__ahorcado{
  flex-direction: row-reverse;
  margin-top: 4rem;
}

@media screen and (max-width: 1299px){
  .experiencia__proyecto{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 479px){

}
