.presentacion__imagen{
  width: 500px;
  height: 300px;
  margin-left: 1rem;
  background-image: url("../../img/tohru.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

@media screen and (min-width: 0px) and (max-width: 479px){
  .presentacion__imagen{
    width: 250px;
    height: 250px;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px){
  .presentacion__imagen{
    width: 250px;
    height: 250px;
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
}
