.presentacion__imagen{
  width: 650px;
  height: 300px;
  margin-left: 3rem;
  background-image: url("../../img/tohru.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
