.presentacion__lista{
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  justify-content: space-around;
}

.presentacion__lista__item{
  padding-right: 2rem;
}

.presentacion__lista__item__link{
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.presentacion__lista__item__link:hover{
  color: #2a7ae4;
  font-weight: 750;
  font-size: 1.1rem;
  transition: 0.1s;
}
