.contacto__informacion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

@media screen and (max-width: 1023px){
  .contacto__parrafo{
    line-height: 1.5;
  }
}

@media screen and (max-width: 479px){

}
